<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Admin/Problem_Statement/src/test/java/com/bridgelabz/selenium/MakemytripTest.java"><classes><class name="com.bridgelabz.selenium.MakemytripTest"><methods><include name="Login_Makemytrip"/><include name="Round_Trip"/><include name="printDepartureFlights"/><include name="printReturnFlights"/><include name="printNonStopDepartureFlights"/><include name="printNonStopReturnFlights"/><include name="radioButton"/></methods></class></classes></test></suite>